#resultado{
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 5px #050505;


}

.numeros{
background-color: gold;
width: 30px ;
text-align: center;
border-radius: 5px;
}

.numeros:hover{
    scale: 1.3 ;
    color: rgb(255, 140, 0);
}